body{
  background-color: rgb(25,25,25);
  color: white;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 60px;
  font-weight:bold;
}
.option{
  background-color: rgb(25,25,25);
  border: 5px solid white;
  margin: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.option img{
  height: 200px;
  padding: 50px;
  
}
.option:hover{
  background-color: rgb(36, 36, 36);
}
.option:active{
  background-color: rgb(36, 36, 36);
}
.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.js-result{
  font-size: 40px;
  font-weight: bold;
}
.js-score{
  font-size: 20px;
  font-weight: bold;
}
.js-moves{
  font-size: 20px;
  font-weight: bold;
}
.reset-button{
  font-size: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition:all 0.5s;
  border: none;
  margin-top: 30px;
}
.reset-button:hover{
  background-color: rgb(222, 222, 222);
}
.reset-button:active{
  transform: scale(1.01);
}
@media (max-width: 600px) {
  .title{
    margin-top: 60px;
    font-size: 35px;
  }
  .option{
    margin: 5px;
  }
  .option img{
    height: 50px;
    padding: 20px;
  }
  .info-container{
    margin: 30px;
  }
  .options-container{
    margin-top: 30px;
    
  }
}
